.button {
    -fx-background-color: #fb8c00;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: #fb8c00;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: ;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #c2c7cc;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: #fb8c00;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(#fb8c00,30%);
}
