.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: #ffba62;
    -fx-background-color: #ffba62;
}

.combo-box-popup .list-view .list-cell {
	 -fx-text-fill: #4f6174;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: #ffba62;
}

.jfx-combo-box {
    -fx-prompt-text-fill: #8e98a2;
	-fx-text-fill: #8e98a2;
	-fx-font-family: "Roboto";
    -fx-font-size: 16.0;
	
	-jfx-unfocus-color: #8e98a2;
	-jfx-focus-color: white;
	
	-fx-padding: 0;
}

.jfx-combo-box .list-cell:selected:filled {
	-fx-text-fill: white;
}



.jfx-combo-box .jfx-rippler {
	-jfx-rippler-fill: #fb8c00;

}
